body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto;
  padding: 20px;
  background-color: #5a9bef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.container p {
  color: #ffffff;
  font-size: 0px;
  margin-bottom: 20px;
  margin-top: -5px;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dates .date-input-wrapper {
  flex-basis: 48%;
  margin-bottom: 20px;
}

.dates .input-with-icon {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 3px;
  background-image: url('images/calendar.svg');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  font-size: 14px;
  box-sizing: border-box;
}

.search-button {
  width: 100%;
  background-color: #ff9900;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.search-button:hover {
  background-color: #ffa07a;
}

.text {
  color: #ffffff;
}

.text p {
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .container p {
    font-size: 20px;
  }

  .dates .date-input-wrapper {
    flex-basis: 100%;
  }

  .text {
    margin-top: 20px;
  }

  .text p {
    font-size: 12px;
    margin-top: -5px;
  }
}

@media (min-width: 768px) {
.container {
    display: flex;
    flex-direction: column;
  }

.dates {
    order: 2;
  }

.text {
    order: 1;
  }

.container {
    width: 80%;
    padding: 20px;
  }

.container p {
    font-size: 28px;
    margin-top: -5px;
    margin-bottom: 20px;
  }

.text p {
    font-size: 13px;
  }
 }

@media (min-width: 1024px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .container p {
    font-size: 18px;
  }

  .text p {
    font-size: 10px;
  }
}
